<h1>
  Welcome to {{title}}!
</h1>

 <a [routerLink]="[{outlets: {negrito: ['bem-vindo'] }}]">Bem Vindo </a>
 <a [routerLink]="[{outlets: {italico: ['contato'] }}]">Contato </a>

 <a [routerLink]="'prospecto'">Prospecto</a>
 <a [routerLink]="['prospecto', {outlets: {mestre: ['pessoa'], detalhe: ['endereco']  }}]">Prospecto</a>

 <a [routerLink]="['prospecto', {outlets: {mestre: ['pessoa'] }}]">Prospecto só pessoa</a>
 <a [routerLink]="['prospecto', {outlets: {detalhe: ['endereco']  }}]">Prospecto só endereço</a>

<router-outlet></router-outlet>

<b>
  <router-outlet name="negrito"></router-outlet>
</b>

<i>
  <router-outlet name="italico"></router-outlet>
</i>
